[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
pandas = "*"
transformers = "*"
scikit-learn = "*"
matplotlib = "*"
pytorch-pretrained-bert = "*"

[dev-packages]

[requires]
python_version = "3.10"
